<center><div>
  <h1>Singh-Away</h1>

  <strong><p>This site is used to let your thoughts about anything.<br> Write what you are thinking and never be afraid! I hope you enjoy using this site.</p></strong>


  <%=link_to 'Home', root_path %>
</div></center>
