<br><br>
<div class="center jumbotron">
  <br>
    <h1>SINGH AWAY!</h1>
        <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "Login Now", login_path, class: "btn btn-primary btn-lg" %>
</div>

<center><p>Talk about anything, tell a story, write a song, users are free to do anything</p></center>
