<center><div class= "container" >
    <footer class= "footer">
        <nav>
            <ul>
                <li> <%=link_to "About", about_path %> </li>

            </ul>
        </nav>
        <strong><p>DISCLAIMER: DO NOT WRITE ABOUT ANYTHING UNAPPROPRIATE!!</p></strong>
    </footer>
</div></center>
